/* add your CSS here */
.body{width: 400px;margin: 0 auto; box-shadow: 3px 3px #CDCAB9;}
.content{border:1px solid #CDCAB9; padding:10px;  }
img{
	width:400px;  
	max-width: 100%;
    height: auto;
	border:1px solid #8BA4C3;
}

ul{list-style: none outside none;}
#fact{font-style: italic;}
span{font-weight: bold;}
/* h3{padding:3px;} */
